<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная №2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="background"></div>
    <div class="wrapper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="<%= require('./imgs/1.jpg') %>" alt="" class="aaa"></div>
                <div class="swiper-slide"><img src="<%= require('./imgs/2.jpg') %>" alt=""></div>
                <div class="swiper-slide"><img src="<%= require('./imgs/3.jpg') %>" alt=""></div>
                <div class="swiper-slide"><img src="<%= require('./imgs/4.jpg') %>" alt=""></div>
                <div class="swiper-slide"><img src="<%= require('./imgs/5.png') %>" alt=""></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>